/* Friend.css */
  
.friend {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(250, 245, 248);
    padding: 1rem;
    border-radius: 4px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.1);
    height: 100px;
  }
  
  .friend-info {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }
  
  .friend img {
    width: 64px;
    height: 64px;
    border-radius: 30%;
    object-fit: cover;
    margin-right: 5rem;
  }
  
  .friend h3 {
    margin: 0;
    font-size: 1.2rem;
  }
  
  .friend p.status {
    padding-top: 10px;
    margin: 0;
    font-size: 0.9rem;
    color: #666;
  }
 .settle-up{
    color: white;
 } 
 