.notifications-card {
  position: absolute;
  left: 400px;
  top: 40px;
}

.notification
{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  border-bottom: 1px solid lightgray;
  width: 500px;
  gap: 100px;
}
