/* .reminder-screen {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .reminder-screen h2 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .reminder-screen form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .reminder-screen form label {
    display: block;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .reminder-screen form input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .reminder-screen form .form-row {
    display: flex;
    justify-content: space-between;
  }
  
  .reminder-screen form .form-column {
    flex-basis: calc(50% - 10px);
  }
  
  .reminder-screen form button {
    display: block;
    width: 50%;
    max-width: 200px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #ca47c8;
    color: #fff;
    font-size: 18px;
    font-family:cursive;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.2s ease-in-out;
  }
  
  .reminder-screen form button:hover {
    background-color: #2c3e50;
  } */
.card{
    padding-top: 10px;
    position: absolute;
    left: 680px;
}
.list{
    line-height: 40px;
    font-family:sans-serif;
}
.h1{
    font-family: 'Chilanka', cursive;
}
.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.popup form {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    max-width: 500px;
}
  
.popup label {
    display: block;
    margin-bottom: 10px;
}
  
.popup input[type="date"],
.popup input[type="time"],
.popup input[type="text"] {
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    width: 100%;
    box-sizing: border-box;
   
}
  
.popup button[type="submit"] {
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #611564;
    color: white;
    cursor: pointer;
}