*
{
    font-family: 'Climate Crisis', cursive;
    font-family: 'Raleway', sans-serif;
}
.sap
{
    position: absolute;
    top: 20px;
    left: 400px;
}
.card-type-1
{
    padding: 10px;
    border: 1px solid #C77DFF;
    border-radius: 10px;
}
.card1-heading
{
    font-size: 22px;
    color: #9D4EDD;
}
.part1
{
    display: flex;
    gap: 50px;
}

.card-type-2
{
    padding: 10px;
    border: 1px solid #C77DFF;
    border-radius: 10px;
}
.card-type-3
{
    padding: 10px;
    border: 1px solid #C77DFF;
    border-radius: 10px;
}