.container{
    position: relative;
    right: 500px;
}

.card {
    width: 10rem;
    background-color: rgb(196, 143, 201);
    padding-left: 40px;
    padding-top: 5px;
    margin-top: 12px;
    border-width: 2;
    border-color: '#ddd';
    padding: 0.5em 0.5em 0.5em;
    border-radius: 2em;
    text-align: center;
    box-shadow: 0 5px 10px rgba(0,0,0,.4);
}
.card-body{
    --bs-bg-opacity:0.4;
    background-color: rgb(196, 143, 201);
}
.card-title{
    font-family: 'Chilanka', cursive;
}
.list-group{
    max-height: 210px;
    overflow-y:scroll;
}